* {
  box-sizing: border-box; }

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh; }

body {
  background: #3b414c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.logo {
  display: block;
  margin: auto; }
