@include block(accordion){

	@include element(wrapper){

	}

	@include element(item){

	}

	@include element(head){
		h2{
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1rem;
		}
	}

	@include element(body){

	}

	@include modifier(head){

		&:after{
			content: '';
			display: block;
			border:20px solid transparent;
			height:0px;
			width: 0px;
			border-top: solid 20px lighten($col-red,12%);
			margin: auto;
			position: absolute;
			z-index: 9999;
			left:50%;
			margin-left: -20px;

			backface-visibility: visible;
			-webkit-backface-visibility: visible;
			-moz-backface-visibility:    visible;
			z-index: 9999;
			transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);

		}

		label {
			position: relative;
			display: block;
			padding: 0 0 0 1em;
			background: lighten($col-red,12%) !important;
			font-weight: bold;
			line-height: 1.9 !important;
			cursor: pointer;
			color: $col-light-grey !important;
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
			height:30px;

			&:after{
				display: none !important;
			}

		}

		input:checked ~ label {
			background: lighten($col-red,8%) !important;
		}



		.tab {
			position: relative;
			margin-bottom: 0px !important;
			width: 100%;

			overflow: hidden;
			border-bottom: 1px solid lighten($col-red,12%);

			.tab-content {
				background: lighten($col-red, 12%);
				text-align: center;
				color: $col-light-grey !important;

				.tab-content_inner{
					margin: 5px 5px 0px 5px !important;
				}
			}
		}

		.categoriesOnPage__listWrapper{
			padding: 10px;
		}

		.categoriesOnPage {
			background-color: none !important;
			background: none !important;
			margin-bottom: 5px;
			.categoriesOnPage__col {
				background-color: none !important;
				.categoriesOnPage__title {
					@include border-radius(100px);
				}
			}
		}

	}

	/* Acordeon styles */
	.tab {
		position: relative;
		margin-bottom: 1px;
		width: 100%;

		overflow: hidden;
	}
	input[type=radio],
	input[type=checkbox]{
		position: absolute;
		opacity: 0;
		z-index: -1;
		color: $col-red;
	}
	label {
		position: relative;
		display: block;
		padding: 0 0 0 1em;
		background: $col-light-grey;
		font-weight: bold;
		line-height: 3;
		cursor: pointer;
		color: lighten($col-red,10%);
		letter-spacing: 1px;
	}

	.tab-content {
		max-height: 0;
		overflow: hidden;
		background: lighten($col-light-grey, 5%);
		-webkit-transition: max-height .5s;
		-o-transition: max-height .5s;
		transition: max-height .5s;

	}

	.tab-content {
		.tab-content_inner {
			margin: 1em;

			.DraftEditor-root{
				background: #FFF;
				padding: 10px;
				font-weight: 300;
				line-height: 1.4;
				font-size: 0.9rem;

				[data-block="true"]{
					margin-bottom: 10px;
				}

				span{
					display: inline;
				}

			}

		}
	}
	/* :checked */
	input:checked ~ .tab-content {
		max-height: 1000px;
	}

	/* Icon */
	label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
		color: lighten($col-red,10%);
	}
	input[type=checkbox] + label::after {
		content: "\2795";
		color: $col-red;
	}
	input[type=radio] + label::after {
		content: "\2795";
		color: $col-red;
	}
	input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	}
	input[type=radio]:checked + label::after {
		transform: rotate(90deg);
	}

}


