// animation

.post-appear {
	opacity: 0;

	transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-webkit-transform: translateY(-150px);

	&.post-appear-active {
		opacity: 1;

		@include transition_all(0.5s);

		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);

	}
}


.post-enter {
	opacity: 0;


	transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-webkit-transform: translateY(-150px);

	&.post-enter-active {
		opacity: 1;

		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);

		@include transition_all(0.5s);
	}
}

.post-leave {
	opacity: 1;


	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);

	&.post-leave-active {
		opacity: 0;


		transform: translateY(150px);
		-ms-transform: translateY(150px);
		-webkit-transform: translateY(150px);

		@include transition_all(0.5s);
	}
}