

@include block(btn){
	display: block;
	text-transform: uppercase;
	text-align: center;
	background: #333;
	color: #EEE;
	padding: 13px 10px;
	cursor: pointer;
	margin: 2px;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-weight: 300;
	text-decoration: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	//width: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	&:hover{
		background: #000;
		color: #FFF;
	}


	@include modifier(white){
		background: #f8f8f8;
		color: $col-bg;

		&:hover{
			background: #FFF;
			color: #000;
		}
	}
}

@include block(btn--white){

	display: block;
	text-transform: uppercase;
	text-align: center;
	background: #f8f8f8;
	color: $col-bg;
	padding: 13px 10px;
	cursor: pointer;
	margin: 2px;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-weight: 300;
	text-decoration: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
	//width: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	&:hover{
		background: #FFF;
		color: #000;
	}


}

.table {
	display: table;
	width: 100%;
	border-spacing: 10px;
}
.row {
	display: table-row;
	width: 100%;

	.col{
		display: table-cell;
		vertical-align: top;

		&:last-of-type{
			width: 100%;
			@media(max-width: 500px){
				display: block;
				margin: 0px 0px 0px 0px;
			}
		}

		@media(max-width: 500px){
			display: block;
			width:100%;
			margin: 0px 0px 10px 0px;
		}
	}

	.col-static{
		display: table-cell;
		vertical-align: top;

		&:last-of-type{
			width: 100%;
		}

	}
}

.no_scroll{
	overflow: hidden;
}

.edt{
	-webkit-appearance: none;
	@include border-radius(0px);
	display: block;
	padding: 10px;
	background: #FFF;
	border: 1px solid #FFF;
	width: 100%;
	outline: none;
	letter-spacing: 1px;
	font-size: 1.1rem;
	font-weight: 300;
}