.CircularProgressbar .CircularProgressbar-path {
	stroke: $col-red;
	transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
	stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
	fill: transparent;
	font-size: 20px;
	dominant-baseline: middle;
	text-anchor: middle;
	display: none;
}