
//////////////////////////////////////////////////
// https://medium.com/@_jh3y/how-to-pure-css-carousel-ce1a8cb231c8#.lldmsndhp

@mixin slide($params, $pos){
	&:nth-of-type(#{$params}) {

		//-webkit-transform: translateX($pos);
		//transform: translateX($pos);

		&:checked {
			& ~ .carousel__track {
				-webkit-transform: translateX(-$pos);
				transform: translateX(-$pos);
			}

			& ~ .carousel__slide {
				&:nth-of-type(#{$params}) {
					-webkit-animation: carousel-show-slide 0.5s;
					animation: carousel-show-slide 0.5s;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}

			& ~ .carousel__controls{
				&:nth-of-type(#{$params}){
					display: block;
				}
			}

			& ~ .carousel__indicators{
				.carousel__indicator--notdone,
				.carousel__indicator--done{
					&:nth-of-type(#{$params}){
						opacity: 1;

						-webkit-box-shadow: 0px 0px 0px 0px rgba($col-red,1);
						-moz-box-shadow: 0px 0px 0px 0px rgba($col-red,1);
						box-shadow: 0px 0px 0px 0px rgba($col-red,1);

						//@include transition_all(300ms);

					}
				}
			}

		}
	}

}

@mixin slide_init($num, $pos){
	&:nth-of-type(#{$num}){
		-webkit-transform: translateX($pos);
		transform: translateX($pos);
	}
}



@include block(carousel){
	height: 575px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
	padding: 0;
	list-style: none;

	@include element(controls){
		display: none;
	}

	@include element(activator){
		display: none;


		@for $i from 1 through 40 {
			$pos: percentage(($i - 1)) + 100;
			@include slide($i, $pos);
		}

	}

	@include element(slide){

		@for $i from 1 through 40 {
			$pos: percentage(($i - 1)) + 100;
			@include slide_init($i, $pos);
		}

	}

	@include element(setIndicators){
		margin-top: 20px;
		position: absolute;
		bottom: 40px;
		width: 100%;
		text-align: center;
		border-top:10px solid transparent;

		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		z-index: 77;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);

		//@include transition_all(300ms);

		&.flipped {
			//bottom: -80px;
			bottom: 40px;
		}

		&.NOT-STARTED{
			opacity: 0.8;
		}

		&.IN-PROGRESS{
			opacity: 1;
		}
	}

	@include element(setIndicator){
		position: relative;
		display: inline-block;
		top:0px;
		box-sizing: border-box;

		@include border-radius(100%);
		height: 54px;
		width: 54px;
		border: 0px solid $col-red;
		overflow: hidden;
		padding: 6px;
		margin: 0px 4px;
		background: #FFF;

		img{
			display: block;
			width: 43px;
			height: 43px;
			@include border-radius(100%);
			overflow: hidden;
			display: block;

		}

		.CircularProgressbar{
			.CircularProgressbar-path {
				stroke: $col-red;
				stroke-width:5;
				transition: stroke-dashoffset 0.5s ease 0s;
			}
			.CircularProgressbar-trail {
				stroke: #d6d6d6;
				stroke-width:5;
			}

			.CircularProgressbar-text {
				fill: transparent;
				font-size: 20px;
				dominant-baseline: middle;
				text-anchor: middle;
				display: none;
			}
		}

		@include modifier(done){
			border: 0px solid #EEE;
			overflow: hidden;

			.CircularProgressbar{
				.CircularProgressbar-path {
					stroke: #BBB;
				}
				.CircularProgressbar-trail {
					stroke: #ececec;
				}

			}

		}


		@include modifier(active){

			transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);

			.CircularProgressbar{
				.CircularProgressbar-path {
					stroke-width: 8;
				}
				.CircularProgressbar-trail {
					stroke-width: 8;
				}

			}
		}

	}

	@include element(setIndicatorProgress){
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 54px;
		width: 54px;

		@include modifier(restMin){
			.CircularProgressbar{
				.CircularProgressbar-path {
					stroke: $col-bg;
				}
				.CircularProgressbar-trail {
					stroke: #d6d6d6;
				}
			}
		}

		@include modifier(restMax){
			.CircularProgressbar{
				.CircularProgressbar-path {
					stroke: #EEE;
				}
				.CircularProgressbar-trail {
					stroke: #EEE;
				}

			}
		}
	}

	@include element(indicators){

		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);

		//@include transition_all(300ms);

		&.flipped {
			bottom: 15px;

			background: #EEE;
			opacity: 1 !important;
			width: calc(100% - 24px);
			margin: auto;
			padding: 3px 6px 1px 3px;
			@include border-radius(100px);
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
		}


		&.NOT-STARTED{
			opacity: 0.4;
		}

		&.IN-PROGRESS{
			opacity: 1;
		}
	}

	@include element(indicator){
		height: 12px;
		width: 12px;
		position: relative;
		@include border-radius(100%);
		display: inline-block;
		z-index: 2;
		cursor: pointer;
		opacity: 0.35;
		margin: 0 2.5px 0 2.5px;
		background-color: $col-red;
		border: 3px solid $col-red;

		-webkit-box-shadow: 0px 0px 0px 0px rgba($col-red,1);
		-moz-box-shadow: 0px 0px 0px 0px rgba($col-red,1);
		box-shadow: 0px 0px 0px 0px rgba($col-red,1);



		//@include transition_all(300ms);

		.NOT-STARTED & {
			background-color: #999;
			border: 3px solid #999;
		}

		.IN-PROGRESS & {
			border: 3px solid $col-red;
		}

		&:hover{
			opacity: 0.75;
		}

		@include modifier(done){
			background-color: #EEE;
			&.min{
				border: 3px solid #CCC;
				-webkit-box-shadow: 0px 0px 0px 0px rgba(#CCC,1);
				-moz-box-shadow: 0px 0px 0px 0px rgba(#CCC,1);
				box-shadow: 0px 0px 0px 0px rgba(#CCC,1);
			}
		}

		@include modifier(notdone){

		}

		&.min{
			@include border-radius(0px);
			width: 10px !important;
			height: 14px !important;
			margin: 0px 0px 0px 0px;

			&:first-of-type{
				@include border-radius-left(20px);
			}

			&:last-of-type{
				@include border-radius-right(20px);
			}

			&.space{
				margin: 0px 0px 0px 4px !important;
			}
		}

		&.space{
			margin: 0px 0px 0px 8px !important;
		}


		@for $i from 0 through 40 {
			&.ex_#{$i} {


					&:before{
						content: '';
						display: block;
						height: 20px;
						width: 20px;
						border: 1px solid #000;
						left: 40px;
					}


				&:not(.ex_#{$i}) + .ex_#{$i} {
					&:before{
						content: '';
						display: block;
						height: 20px;
						width: 20px;
						border: 1px solid blue;
						left: 40px;
					}
				}

			}

			&.ex_#{$i} {
				&:before{
					//display: none;
				}
			}
		}


	}

}




.carousel__control {
	height: 30px;
	width: 30px;
	margin-top: -15px;
	top: 50%;
	position: absolute;
	display: block;
	cursor: pointer;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: $col-red;
	opacity: 0.35;
	outline: 0;
	z-index: 3;
}
.carousel__control:hover {
	opacity: 1;
}
.carousel__control--backward {
	left: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.carousel__control--forward {
	right: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


.carousel__track {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	-webkit-transition: -webkit-transform 0.5s ease 0s;
	transition: -webkit-transform 0.5s ease 0s;
	transition: transform 0.5s ease 0s;
	transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
	display: block;
	top: 0;
	left: 0;
	right: 0;
}





.carousel__slide {
	height: 100%;
	position: absolute;
	overflow-y: auto;

	background: #FFF;

	h1 {
		font-size: 50px;
		line-height: 50px;
		color: #fafafa;
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;
		margin-top: -25px;
	}
	h2,
	h3 {
		color: #fafafa;
	}
	h3 {
		font-size: 50px;
	}
}


.carousel-container {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.my-carousel {
	margin: 0px;
}
.carousel__slide {
	overflow: hidden;
}




.carousel--thumb .carousel__indicators .carousel__indicator {

}

@-webkit-keyframes carousel-show-slide {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes carousel-show-slide {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}